body {
  background-image: url("https://www.valarflowers.com/cdn/shop/files/DSC06153.jpg?v=1758103986&width=1500");

  background-attachment: fixed;

  background-size: cover;      
  
  background-position: center; 
  
  background-repeat: no-repeat;
}

#movie-result {
  background: #f4b6cf;
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: #E099DB;
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#meme-result {
  background: #B19ADE;
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#cartoon-result {
  background: #C5BDE6;
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#dance-result {
  background: #C2E2FA;
  border: 5px solid black;
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}


hr {
  height: 5px;
  background-color: black;
}
